/****************************************************************************


screensaver.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include <windows.h>

#ifdef BORLAND
#include "def.rcd"
#else
#include "resource.h"
#endif

DLG_SCRNSAVECOFIGURE DIALOG 0, 0, 263, 249
#ifdef BORLAND
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
#else
EXSTYLE /*WS_EX_DLGMODALFRAME |*/ WS_EX_CONTEXTHELP
#endif
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL , SUBLANG_NEUTRAL
{
 CONTROL "Scatter", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 31, 159, 192, 47
 CONTROL "Exit", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 212, 92, 14
 CONTROL "Scatter", IDC_SCATTER, "msctls_trackbar32", WS_CHILD | WS_VISIBLE, 43, 171, 160, 17, WS_EX_DLGMODALFRAME
 CONTROL "Text2", IDC_SCATTER_LED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 115, 192, 28, 11
 CONTROL "0", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 35, 175, 4, 9
 CONTROL "25", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 176, 12, 9
 CONTROL "Text speed", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 31, 99, 192, 52
 CONTROL "25", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 33, 115, 8, 7
 CONTROL "Text speed", IDC_TEXT_SPEED, "msctls_trackbar32", WS_CHILD | WS_VISIBLE, 43, 111, 160, 17, WS_EX_DLGMODALFRAME
 CONTROL "250", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 115, 12, 8
 CONTROL "Text1", IDC_TEXT_SPEED_LED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 115, 132, 28, 13
 CONTROL "", IDC_SERVERIP, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 14, 160, 13
 CONTROL "Server IP", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 17, 36, 9
 CONTROL "", IDC_SERVERPORT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 27, 160, 13
 CONTROL "Server port", IDC_STATICTEXT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 30, 36, 9
 CONTROL "Database name", IDC_STATICTEXT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 43, 60, 9
 CONTROL "Username", IDC_STATICTEXT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 56, 60, 9
 CONTROL "Password", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 68, 64, 13
 CONTROL "", IDC_DATABASENAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 40, 160, 13
 CONTROL "", IDC_USERNAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 53, 160, 13
 CONTROL "", IDC_PASSWORD, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 65, 160, 13
 CONTROL "", IDC_SQLSTATEMENT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 78, 160, 13
 CONTROL "SQL statement", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 80, 48, 9
 CONTROL "Update and exit", IDUPDATE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 212, 92, 14
 CONTROL "Remove all registry entries", IDREMOVEFROMREGISTRY, "button", BS_PUSHBUTTON | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 232, 200, 10
}

